In [2]:
# Importing the correct libraries
import numpy as np
import pandas as pd

# TensorFlow and Scikit Learn libraries
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, InputLayer
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import RootMeanSquaredError, MeanAbsoluteError

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [4]:
# Create a function that imports the data and returns 6 dataframes for each of the 6 models
def import_data():
    # Importing the data
    df = pd.read_csv('../../Data/GNIP/GNIP_Cleaned.csv')

    # Setup the 6 locations for the models 
    
    return df

In [6]:
# Testing the function
df = import_data()
df

,Lat,Lon,Date,Alt,Precip (mm),Temp (°C),O18 (‰),H2 (‰)
0,-75.583333,-20.566667,1965-07-15 00:00:00+02:00,30.0,28.0,-27.600000,-22.120,-188.8
1,-75.583333,-20.566667,1965-08-15 00:00:00+02:00,30.0,37.0,-30.000000,-24.310,-195.7
2,-75.583333,-20.566667,1965-09-15 00:00:00+02:00,30.0,27.0,-26.000000,-19.110,-155.7
3,-75.583333,-20.566667,1965-10-15 00:00:00+02:00,30.0,43.0,-20.100000,-19.700,-166.7
4,-75.583333,-20.566667,1966-01-15 00:00:00+01:00,30.0,26.0,-5.400000,-10.580,-99.2
...,...,...,...,...,...,...,...,...
94647,82.500000,-62.333333,2021-10-15 00:00:00+00:00,62.0,4.3,538.259650,-27.675,-212.2
94648,82.500000,-62.333333,2021-11-15 00:00:00+00:00,62.0,6.1,524.128317,-32.800,-245.5
94649,82.500000,-62.333333,2021-12-15 00:00:00+00:00,62.0,6.9,514.797430,-32.150,-248.8
94650,82.500000,-62.333333,2022-02-15 00:00:00+00:00,62.0,10.5,521.516241,-33.377,-255.5
94651,82.500000,-62.333333,2022-03-15 00:00:00+00:00,62.0,9.5,519.863501,-27.685,-208.9